const functions = require('../functions.js')
module.exports = {
	name: 'PLACEHOLDER',
    description: '',
    usage: '',
    aliases: [],
    guildonly: false,
    devonly: false,
    args: false,
    modCommand: false,
    category: 'Misc',
	execute(message, args) {
        const output = functions.newEmbed()
        //.addField('', '', false)
        //.setThumbnail('')
        .setTitle('')
        //.setDescription('')

        return message.channel.send(output)
    },
};